:root {
  --WHITE: #ffffff;
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --logo-color: #f4f4f4fd;
  --button-color: #4d5ae5;
  --CORNFLOWER: #e7e9fc;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
}
.body {
  font-family:"Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFFFF;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.list {
  list-style: none;
}
